<body class="productspage">

  <div id="navbar">
    <a href="/">Home</a>
    <%= link_to products_url, class: "active" do %>Product overzicht</a><% end %>
    <%= link_to dashboard_products_url do %>Dashboard<% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="title">
        <h3>Productenpagina</h3>
        <p>Hier komen alle producten te staan.</p>
      </div>
    </div>
  </div>  
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-lg">
          <div class="square" style="background-image: url('<%= product.image_src %>')">
            <div class="content">
              <%= product.name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>